body {
    background-color: rgb(55, 247, 183);
    color: darkgreen;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: "Arial", sans-serif;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 45;
    text-underline-position: below;
}

h2, a {
    font-family: "Arial", sans-serif;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 30;
    color: darkgreen;
}

nav {
    background-color: rgb(176, 250, 225);
    color: darkgreen;
    width: 100%;
}

img {
    margin-bottom: 0px;
}

p {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    padding-bottom: 0px;
    text-align: center;
    font-size: 25;
    width: 97%;
    margin-left: 15px;
}

.navbar{
    width: 95%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.part_1 {
    width: 90%;
    display: flex;
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    justify-content: space-between;
}

.tools {
    display: flex;
    padding-right: 20;
}

section {
    padding: 20px;
}

.email {
    display: flex;
}

h3 {
    font-size: 26.5;
    margin-left: 450px
}

h4 {
    font-size: 20;
    font-weight: normal;
    margin-bottom: 34;
    margin-top: 35;
}

h5 {
    font-size: 20;
    font-weight: normal;
    padding: 0px;
    margin-bottom: 10px;
}

h6 {
    font-family: "Arial", sans-serif;
    margin-bottom: 5px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 30;
    color: darkgreen;
}

.contacts {
    padding-top: 30px;
    padding-bottom: 0px;
}
